.App {
  text-align: center;
}

.navbar-gray {
  background-color: #F2F2F2;
}

.post-preview {
  width: 29%;
  margin: 2%;
  background-color: #F2F2F2;
  float: left;
  padding: 2%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.post-preview:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.post-card, .comments-container {
  width: 90%;
  margin: 2% 5% 2% 5%;
  padding: 2%;
  background-color: #F2F2F2;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.post-card:hover, .comments-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.post-card p, .comments-container p {
  text-align: left;
}

.post-card h5 {
  text-align: left;
}

img {
  max-width: 80%;
}

.App .post-form {
  padding: 2%;
  text-align: left;
}

.comment-form form {
  text-align: left;
}

div.post-likes p, div.post-likes button {
  text-align: center;
}

.post-form {
  margin-right: 5%;
  background: rgb(15,47,232);
  background: -moz-linear-gradient(90deg, rgba(15,47,232,0.5116421568627452) 0%, rgba(80,85,85,0.34077380952380953) 44%, rgba(67,60,241,0.48082983193277307) 100%);
  background: -webkit-linear-gradient(90deg, rgba(15,47,232,0.5116421568627452) 0%, rgba(80,85,85,0.34077380952380953) 44%, rgba(67,60,241,0.48082983193277307) 100%);
  background: linear-gradient(90deg, rgba(15,47,232,0.5116421568627452) 0%, rgba(80,85,85,0.34077380952380953) 44%, rgba(67,60,241,0.48082983193277307) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f2fe8",endColorstr="#433cf1",GradientType=1);
}

.about-card {
  width: 75%;
  margin: auto;
  -webkit-box-shadow: 28px 26px 37px -5px rgba(87,87,87,1);
  -moz-box-shadow: 28px 26px 37px -5px rgba(87,87,87,1);
  box-shadow: 28px 26px 37px -5px rgba(87,87,87,1);
}
